<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/icon.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    
    <p>The app was created by {{name}}. It uses data from weatherstack.com and mapbox.com.</p>
    <img class="portrait" src="/img/pawankolhe.jpg" alt="Pawan Kolhe">
  </div>

  {{>footer}}
</body>

</html>